body {
    background-color: aliceblue;
}

.header-p {
    text-align: center;
    color: #ec8580;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    background-color: #acd98d;
}

.profile {
    margin: auto auto;
    position: relative;
    width: 183px;
    height: 183px;
    .profile-pic {
        border-radius: 100%;
        justify-content: center;
        width: 183px;
        height: 183px;
        position: absolute;
    }
    .notice {
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: #ee433a;
        text-align: center;
        color: black;
        border-radius: 100%;
        margin: 143px;
    }
}

.user {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color:#ffab70;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    display: block;
}

.naming {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    label {
        color: #ffab70;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-right: 10px;
    }
}

.urling {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    label {
        color: #ffab70;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-right: 10px;
    }
}

button:hover {
    background-color: #7cbb92;
}

.user:hover {
    color: blue;
    text-decoration: underline;
}

.table-row {
    position: relative;
    text-align: center;
    p {
        text-align: center; 
        font-size: 35px; 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
        color: #ec8580;
    }
    .table-name {
        margin-right: 10px;
    }
    .table-tel {
        margin-right: 10px;
        width: 200px;
    }
}

table {
    text-align: center;
}
